.player:last-child .score:first-child {
    border-bottom-left-radius: 10px;
}

.player:last-child .player-status:last-child {
    border-bottom-right-radius: 10px;
}

.player {
    background-color: rgb(196, 149, 149);
}

.player.self{
    background-color: rgb(201, 121, 121);
}

.player-data {
    border: 2px solid black;
    padding: 5px 20px;
}

.score {
    text-align: center;
}

.name {
    width: 30%;
}

.answer {
    width: 50%;
}

.player-status {    
    text-align: center;
    border: 2px solid black;
    padding: 5px 20px;
}