.game-table {
    grid-column: 1 2;
    margin: auto;
    border-radius: 10px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 2px black;
    margin-top: 10vmin;
    width: 80%;
    max-width: 700px;
}

.game-table-header {
    background-color: indianred;
}

.game-table-title/* , td */ {
    border: 2px solid black;
    padding: 5px 20px;
}

.game-table-title:first-child {
    border-top-left-radius: 10px;    
}

.game-table-title:last-child {
    border-top-right-radius: 10px;
}

