
.room-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    height: 100%;
    font-size: 24px;
}

@media only screen and (max-width: 1600px) {
    .room-container {
        display: inline;
    }
}

.game-table {grid-column: 1 2;
    margin: auto;
    border-radius: 10px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 2px black;
    margin-top: 10vmin;
    width: 80%;
    max-width: 700px;
    background-color: indianred;
}

th, td {
    border: 2px solid black;
    padding: 5px 20px;
}

th:first-child {
    border-top-left-radius: 10px;    
}

th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.player-score {
    text-align: center;
}

.player-name {
    width: 30%;
}

.player-answer {
    width: 50%;
}

.room-content-container {
    display: grid;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .room-container {
        display: inline;
    }
    .hidden-small {
        display: none;
    }
}
